table {
  width: 65%;
  margin: 0 auto;
  margin-top: 3%;
}

img {
  width: 25%;
}

.mat-column-rank{
  width: 10%;
  margin: 30px;
}

.mat-column-logo{
  width: 0%;
}

.mat-column-name{
  width: 17%;
}

.mat-column-games{
  width: 17%;
}

.mat-column-wins{
  width: 10%;
}

.mat-column-losses{
  width: 10%;
}

.mat-column-draws{
  width: 10%;
}

.mat-column-goal{
  width: 12%;
}

.mat-column-points{
  width: 12%;
}

