table {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: beige;
}

th {
  font-weight: bold;
  color: black;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 25%;
}

.mat-column-rank{
  width: 10%;
  margin: 30px;
}

.mat-column-logo{
  width: 0%;
}

.mat-column-name{
  width: 17%;
}

.mat-column-games{
  width: 20%;
}

.mat-column-wins{
  width: 9%;
}

.mat-column-losses{
  width: 9%;
}

.mat-column-draws{
  width: 9%;
}

.mat-column-goal{
  width: 12%;
}

.mat-column-points{
  width: 12%;
}

